container-based/.ipynb_checkpoints/
container-based/data_routing/.ipynb_checkpoints/
container-based/jupyter_notebook_image/.ipynb_checkpoints/
cloud-native/.ipynb_checkpoints/
cloud-native/data_routing/.ipynb_checkpoints/
cloud-native/jupyter_notebook_image/.ipynb_checkpoints/

